.admin {
    position:relative;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.table .name-column {
    width: 20%;
}

.table .username-column {
    width: 20%;
}

.table .role-column {
    width: 10%;
}

.table .link-column {
    width: 20%;
}

.table .actions-column {
    width: 30%;
}

.errmsg {
    color: red;
    font-size: 16px; /* Example of additional style */
}

.offscreen {
    display: none;
}