.center{
    position:absolute;
    width:400px;
    height:400px;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
    color:#333;
    
    input{
      width:100%;
      padding:15px;
      margin:5px;
      border-radius:1px;
      border:1px solid #ccc;
      font-family:inherit;
    }
}
.register {
    vertical-align: top;
    position:relative;
    top: 0;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
  }
.register label {
    position:relative;
    text-align: left;
    display:inline-block;
    padding: 0;
  }
.register span{
    display:inline-block;
    float: right;
}
.register h2 {
    font-size: 20px;
    color: #1f2e6b;
    margin-bottom: 30px;
}
.register input, .register textarea, .register select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.register button {
    margin-bottom: 10%;
    width: 100%;
    margin: 10px 0;
    background: #404040;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register button:hover {
  background-color: #505050;
}

.instructions {
    float: left;
    text-align:left;
    font-size: 0.75rem;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
  }
  
  .instructions > svg {
    color: white;
    margin-right: 0.25rem;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  
  .hide {
    display: none;
  }
  
  .valid {
    color: rgb(50, 205, 174);
    margin-left: 0.25rem;
  }
  
  .invalid {
    color: rgb(34, 47, 78);
    margin-left: 0.25rem;
  }
  
  .errmsg {
    background-color: rgb(182, 226, 255);
    color: rgb(34, 96, 178);
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .line {
    display: inline-block;
  }