.stat{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.table .stat-week-column {
    width: 25%;
}

.table .stat-year-column {
    width: 25%;
}

.table .stat-time-column {
    width: 30%;
}

.table .stat-actions-column {
    width: 20%;
}

.chart-container {
    text-align: center;
}

.chart-container .recharts-wrapper {
    display: inline-block;
}
