/* align 6 img in one line */
.Faces{
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.Faces img{
    width: 15%;
    height: 15%;
    margin: 0.5%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}